[Unit]
Description=Odoo 18 Enterprise
Documentation=http://www.odoo.com
After=network.target postgresql.service

[Service]
Type=simple
User=root
ExecStart=/opt/odoo/odoo-venv/bin/python /opt/odoo/odoo-community/odoo-bin -c /opt/odoo/odoo.conf
WorkingDirectory=/opt/odoo
Environment=PATH="/opt/odoo/odoo-venv/bin:$PATH"
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=multi-user.target 